<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.booklog.db.SearchMapper">

	<select id="findUserById"
		resultType="com.booklog.model.SearchDTO">
		SELECT USER_ID as userId, NAME as name, EMAIL as email, BIO as bio,
		PROFILE_IMG as profileImg
		FROM USER
		WHERE USER_ID = #{userId}
	</select>

	<select id="findBookByIsbn"
		resultType="com.booklog.model.SearchDTO">
		SELECT ISBN as isbn, TITLE as title, AUTHOR as author, GENRE as genre,
		DESCRIPTION as description, BOOK_IMG as bookImg
		FROM BOOK
		WHERE ISBN = #{isbn}
	</select>

	<insert id="insertBook">
		INSERT INTO BOOK (ISBN, TITLE, AUTHOR, GENRE, DESCRIPTION, BOOK_IMG)
		VALUES (#{isbn}, #{title}, #{author}, #{genre}, #{description}, #{bookImg})
	</insert>

</mapper>