.findid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  background-color: #fff;
}

.findid-box {
  width: 100%;
  max-width: 420px;
}

/* 기존 로고 이미지 영역 */
.logo-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -10px; /* 살짝 위로 이동 */
}

.logo {
  width: 300px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.title {
  text-align: center;
  color: #146c2d;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 20px;
  font-size: 14px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
  color: #333;
}

input[type="text"],
select {
  /* width: 100%; */
  padding: 10px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  
}

.email-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 8px;
  align-items: center;
  width: 100%;
  max-width: 500px;
}
.email-row input,
.email-row select {
  padding: 8px 10px;
  font-size: 14px;
  flex: 1;
}
.email-row select {
  flex: none;
  width: 120px;
}
.email-row span {
  font-weight: bold;
}


.verify-btn {
  width: 100%;
  padding: 12px;
  background-color: #eee;
  color: #333;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s ease, transform 0.1s ease;
}

/* 마우스 올릴 때 색상 변경 */
.verify-btn:hover {
  background-color: #146c2d;
  color: white;
}

/* 클릭(눌렀을 때) 효과 */
.verify-btn:active {
  background-color: #bbb;
  transform: scale(0.98);
  /* 눌린 듯한 느낌 */
}

/* 반응형 처리 */
@media (max-width: 480px) {
  .email-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8px;
    align-items: center;
    width: 100%;
    max-width: 400px;
  }

  .email-input,
  .email-select {
    padding: 6px 10px;
    font-size: 14px;
    flex: 1;
  }

  .email-at {
    display: none;
  }

  .findid-logo {
    width: 280px;
  }

  .email-row select {
    flex: none;
    width: 120px;
  }
  .email-row span {
    font-weight: bold;
  }
}

