.book-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* 부모 요소 너비에 맞춤 */
  max-width: 100%; /* 오버플로우 방지 */
}
  
  .book-cover {
    /* position: relative; */
    width: 100%;
    aspect-ratio: 3/4;
    margin-bottom: 8px;
  }
  
  .book-cover-placeholder {
    width: 100%;
    height: 100%;
    background-color: #2e7d32;
    border-radius: 5px;
  }
  
  .book-ribbon {
    position: absolute;
    bottom: 10px;
    left: 0;
    background-color: #FF9800;
    color: white;
    font-size: 10px;
    padding: 3px 8px;
    border-radius: 0 5px 5px 0;
  }
  
  .book-title {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 2px;
  }
  
  .book-author {
    font-size: 12px;
    color: #888;
  }

  .book-img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    max-width: 100%; /* 부모 요소를 넘지 않도록 제한 */
  }

  .tag-d {
    background-color: #f3e13e;
    border-radius: 15px;
    padding: 3px 10px;
    font-size: 12px;
}

.tag-d.color-0 {
    background-color: #FFD8D8;
    color: #A60000;
}

.tag-d.color-1 {
    background-color: #D8F0FF;
    color: #006999;
}

.tag-d.color-2 {
    background-color: #D8FFD8;
    color: #007A1E;
}

.tag-d.color-3 {
    background-color: #F8D8FF;
    color: #850085;
}

.tag-d.color-4 {
    background-color: #FFF0D8;
    color: #9B5700;
}

.tag-d.color-5 {
    background-color: #E2E2E2;
    color: #3C3C3C;
}